.fivebox{
    width: 100%;
height: 662px;
gap: 0px;
opacity: 0px;
background-color:#F7FDFF ;

}




.five-heading{
padding:5%;
font-size: 36px;
font-style: italic;
font-weight: 500;
line-height: 54px;
text-align: left;

}

.Hobby{
    color:#8064A2 ;
}
.Community{
    color:#0096C8 ;
}

.buttonfive{
    padding-left: 5%;
}

.five-button{
    padding-left:20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 10px;
    width: auto;
    color: white;
    background-color: #8064A2;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 30%;
}

.peopleforfive{
    width: 95%;
    height: 64%;
}

@media (max-width: 1117px) {
    .fivebox{
        width:750px;
        padding-right: 20px;
        }
        .peopleforfive{
            width: 95%;
            height: 65%;
        }
       
  }
